<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.care.mapper">
    <select id="getWalkCheckCnt" parameterType="care" resultType="int">
        SELECT MAX(cnt)
        FROM CARE_WALK
        WHERE pet_seq = #{petSeq} AND DATE(date) = DATE(DATE_ADD(#{date}, INTERVAL 9 HOUR))
    </select>
    <select id="getEatCheckCnt" parameterType="care" resultType="int">
        SELECT MAX(cnt)
        FROM CARE_EAT
        WHERE pet_seq = #{petSeq} AND DATE(date) = DATE(DATE_ADD(#{date}, INTERVAL 9 HOUR))
    </select>
    <select id="getMedicineCheckCnt" parameterType="care" resultType="int">
        SELECT MAX(cnt)
        FROM CARE_MEDICINE
        WHERE pet_seq = #{petSeq} AND DATE(date) = DATE(DATE_ADD(#{date}, INTERVAL 9 HOUR))
    </select>
    <select id="getPoopCheckCnt" parameterType="care" resultType="int">
        SELECT MAX(cnt)
        FROM CARE_POOP
        WHERE pet_seq = #{petSeq} AND DATE(date) = DATE(DATE_ADD(#{date}, INTERVAL 9 HOUR))
    </select>
</mapper>