<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.user.mapper">

    <resultMap id="groupjoin" type="JOIN">
        <result column="user_seq" property="userSeq" />
        <result column="group_seq" property="groupSeq" />
        <result column="join_nickname" property="joinNickname" />
        <result column="join_activate" property="joinActivate"/>
    </resultMap>

    <resultMap id="user" type="USER">
        <result column="user_seq" property="userSeq" />
        <result column="user_email" property="userEmail" />
        <result column="user_phone" property="userPhone" />
        <result column="user_address" property="userAddress" />
        <result column="user_nickname" property="userNickName" />
        <result column="user_img" property="userImg" />
        <result column="user_group_cnt" property="userGroupCnt" />
        <collection property="join" resultMap="group_join" />
    </resultMap>

    <!-- 특정 그룹에 대한 모든 사용자 -->
    <select id="getUsersByGroupSeq" parameterType="int" resultType="User">
        select u.user_seq, u.user_email, u.user_phone, u.user_nickname, u.user_img, u.user_group_cnt, u.user_address
        from GROUP_JOIN j, USER u
        where u.user_seq = j.user_seq
        and j.group_seq = #{VALUE}
        and j.join_activate = 1
    </select>
</mapper>